nav.bg {
    width:100%;
    float:left; 
    text-align:center;  
    background: linear-gradient(90deg, #2d87fd);
}
nav a {
	position: relative;
	display: inline-block;
	margin: 16px 20px;
	outline: none;
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	font-size: 1.3em;
	transition:0.6s; 
}
nav a:hover,
nav a:focus {
	transition:0.6s;
	outline: none;
	color:#000; 
}
/* Menu */
.line a {
	padding: 10px;
	color: #f7f7f7;
	font-weight: 700;
	text-shadow: none;
	-webkit-transition: color 0.3s;
	-moz-transition: color 0.3s;
	transition: color 0.3s;
}
.line a::before,
.line a::after {
	position: absolute;
	left: 0;
	width: 100%;
	height: 2px;
	background: #fff;
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	-moz-transition: opacity 0.3s, -moz-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
	-webkit-transform: translateY(-10px);
	-moz-transform: translateY(-10px);
	transform: translateY(-10px);
}
.line a::before {
	top: 0;
	-webkit-transform: translateY(-10px);
	-moz-transform: translateY(-10px);
	transform: translateY(-10px);
}
.line a::after {
	bottom: 0;
	-webkit-transform: translateY(10px);
	-moz-transform: translateY(10px);
	transform: translateY(10px);
}
.line a:hover,
.line a:focus {
	color: #fff;
}
.line a:hover::before,
.line a:focus::before,
.line a:hover::after,
.line a:focus::after {
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	transform: translateY(0px);
}
    
