@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
    margin: 0;
    padding: 0;
}
.header {
    width: 100%;
}
.menu {
    background-color: rgb(83 186 229);
    text-align: center;
}
.menu ul li {
    display: inline-block;
}
.menu ul li a {
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 0 4rem;
    color: rgba(255, 255, 255, 0.8);
    height: 64px;
    line-height: 64px;
    margin: -8px 0;
    cursor: pointer;
    transition: all 0.1s;

}
.main {
    padding: 50px 0;
}
.content {
    width: 80%;
    margin: auto;
    padding: 30px;
    background-color: #eff0f1;
    height: 1000px;
}
.content h1 {
    margin-bottom: 30px;
}
.footer {
    background-color: #eff0f1;
    text-align: center;
    padding: 50px 0;
    margin-top: 645px;
}
.imagem {
    height: 240px;
    background-color: orange;
    background-image: url(), url(http://habboemotion.com/resources/images/website_backgrounds/bottom_background.gif.png);
    background-repeat: no-repeat;
    background-position: center 40px, center;
    background-size: auto, cover;
    image-rendering: pixelated;
  }
.titulo-noticias > h1 {
    font-family: 'Poppins', sans-serif;
    line-height: 38px;
    font-size: 1.5rem;
    float: left;
    margin: 0;
    margin-right: 8px;
    margin-bottom: -101px;
    margin-top: 47px;
    margin-left: 96px;
     }
     .setas {
        margin-left: 360px;
     }
     .container-emblemas {
       margin-top: 10px;
      
        
    }
    @import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
    margin: 0;
    padding: 0;
}
.header {
    width: 100%;
}
.menu {
    background-color: rgb(83 186 229);
    text-align: center;
}
.menu ul li {
    display: inline-block;
}
.menu ul li a {
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 0 4rem;
    color: rgba(255, 255, 255, 0.8);
    height: 64px;
    line-height: 64px;
    margin: -8px 0;
    cursor: pointer;
    transition: all 0.1s;

}
.main {
    padding: 50px 0;
}
.content {
    width: 80%;
    margin: auto;
    padding: 30px;
    background-color: #eff0f1;
    height: 1000px;
}
.content h1 {
    margin-bottom: 30px;
}
.footer {
    background-color: #eff0f1;
    text-align: center;
    padding: 50px 0;
    margin-top: 645px;
}
.imagem {
    height: 240px;
    background-color: orange;
    background-image: url(), url(http://habboemotion.com/resources/images/website_backgrounds/bottom_background.gif.png);
    background-repeat: no-repeat;
    background-position: center 40px, center;
    background-size: auto, cover;
    image-rendering: pixelated;
  }
.titulo-noticias > h1 {
    font-family: 'Poppins', sans-serif;
    line-height: 38px;
    font-size: 1.5rem;
    float: left;
    margin: 0;
    margin-right: 8px;
    margin-bottom: -101px;
    margin-top: 47px;
    margin-left: 96px;
     }
     .setas {
        margin-left: 360px;
     }
     .container-emblemas {
       margin-top: 10px;
    }
    /*CARDS*/
    