body,
html {
    min-height: 100%;
    background-color: #f5f6ff;
}

body a {
    text-decoration: none;
    color: #172b4d;
}

body h1 {
    font-family: "Song Myung", serif;
}

input:focus,
textarea:focus,
select:focus {
    outline: 0;
}

img {
    user-select: none;
}

.input-top-label{

}

.input-top-label .input-top-label--placeholder{

}